.t-checkbox {
    margin: .2rem;
    display: inline-block;
    color: white;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: solid #E6ECF0;
    padding: .25rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
    transition: background-color 0.5s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.t-checkbox.active {
    color: white !important;
}


.t-checkbox:not(.active) {
    background-color: transparent !important;
}

.t-checkbox label{
    cursor: pointer;
    padding-left: 1.4rem;
    font-size: 1rem;
}

.t-checkbox::after {
    content: ' ';
    position: absolute;
    display: block;
    left: .75rem;
    top: .6rem;
    width: 1rem;
    height: .9rem;
    background-image: url("../images/checkmark.svg");
    background-size: contain;
}

.t-checkbox:not(.active)::after {
    display: none;
}

.t-checkbox-color:after {
    content: "";
    position: absolute;
    display: none;
}
